<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>نتيجة الثانوية العامة 2025</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>نتيجة الثانوية العامة 2025</h1>
        <div class="notation">
            ابحث بالاسم أو رقم الجلوس
        </div>
        <div class="search-form">
            <input type="text" id="query" placeholder="مثال: حسين محمد أو 1234567" onkeydown="if(event.key==='Enter') document.getElementById('search-button').click()">
            <button id="search-button" onclick="performSearch()">ابحث</button>
        </div>
        
        <div id="results"></div>
        <div class="loader" id="loading"></div>
        
        <div id="pagination">
            <button id="load-more" onclick="loadMore()">تحميل المزيد</button>
        </div>

        <div class="footer">
            Developed by <a href="https://github.com/Hossamsaberx" target="_blank">HossamOfficerK</a>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
